* {
    padding: 0;    
    box-sizing:border-box;    
}

body {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

h1 {
    font-family: "Cambria", sans-serif;
}

.custom-grid-btn {
    padding: 10px;
}

.container {
    margin-top: 50px;
    background-color: white;    
}

.container .row {
    display: flex;
}

.row .square {
   width: 16px;
   height: 16px;   
   border: 1px solid black;
}